@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zmiana hasła";
}

<section>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="@Url.Action("Index","Home")" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-8 h-8 mr-2" src="/img/icons/Logo.png" alt="logo">
            GoodPatient
        </a>
        <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
            <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                Zapomniałeś hasła?
            </h2>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
                    <label asp-for="Input.Email" for="email" class="block mb-2 text-sm font-medium text-gray-900">Wpisz swojego emaila</label>
                    <input asp-for ="Input.Email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 " placeholder="jankowalski@gmail.com" required="">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Zresetuj hasło</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
