@model GoodPatient.Application.GoodPatient.GoodPatientDto

@{
    ViewData["Title"] = "Usuwanie pacjenta";
}

<h1 class="mt-4 text-5xl font-extrabold leading-none tracking-tight text-gray-900">Usuń pacjenta <span class="underline underline-offset-3 decoration-8 decoration-red-400">@Model.FullName</span></h1>
<p class="text-lg font-normal text-gray-500 lg:text-xl mt-4">Czy na pewno chcesz usunąć tego pacjenta?</p>

<div class="container-xl px-4">
    <div class="row text-center">
        <div class="mb-20">
            <div class="row">
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Imię i nazwisko:</label>
                    <input type="text" value="@Model.FullName" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
                    <input type="text" value="@Model.Email" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
            </div>
            <form asp-action="DeleteConfirmed" asp-route-encodedName="@Model.EncodedName" method="post">
                <div class="flex mt-6">
                    <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2.5 text-center">Usuń pacjenta</button>
                    <a asp-action="Index" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 ml-3 py-2.5 text-center">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
