@page
@model EmailModel
@{
    ViewData["Title"] = "Zarządzaj pocztą e-mai";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@* <h3>@ViewData["Title"]</h3> *@
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Proszę podać swój adres e-mail." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Proszę podać swój adres e-mail." disabled />
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Proszę podać swój adres e-mail." />
                <label asp-for="Input.NewEmail" class="form-label">Nowy email</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Zmień email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
