@model GoodPatient.MVC.Views.Home.TermsModel
@if (ViewData != null)
{
    ViewData["Title"] = "Warunki korzystania";
}


<section class="py-16">
    <div class="container mx-auto">
        <h3 class='font-semibold text-red-700'>
            Zasady korzystania
        </h3>
        <h2 class="text-3xl mt-3 font-bold mb-8">Warunki Korzystania z Aplikacji GoodPatient</h2>

        <!-- Akceptacja Warunków -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Akceptacja Warunków:</h3>
            <p class="text-gray-600">Korzystając z aplikacji GoodPatient, zgadzasz się i akceptujesz niniejsze Warunki Korzystania. Prosimy o przeczytanie ich uważnie przed rozpoczęciem korzystania z naszych usług.</p>
        </div>

        <!-- Rejestracja i Konto Użytkownika -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Rejestracja i Konto Użytkownika:</h3>
            <p class="text-gray-600">Aby korzystać z pełnej funkcjonalności aplikacji, musisz utworzyć konto użytkownika. W trakcie rejestracji zobowiązujesz się do podawania prawdziwych i aktualnych informacji. Odpowiadasz za zachowanie poufności swojego hasła.</p>
        </div>

        <!-- Odpowiedzialność za Treści -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Odpowiedzialność za Treści:</h3>
            <p class="text-gray-600">Jesteś odpowiedzialny za wszelkie treści przesyłane przez Ciebie lub Twoich pacjentów za pośrednictwem aplikacji GoodPatient. Niedozwolone są treści naruszające prawa autorskie, prywatność, lub inne prawa.</p>
        </div>

        <!-- Płatności i Subskrypcje -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Płatności i Subskrypcje:</h3>
            <p class="text-gray-600">Za korzystanie z niektórych funkcji aplikacji, takich jak płatne plany subskrypcyjne, mogą być naliczane opłaty. Płatności są dokonywane zgodnie z wybranym planem i warunkami płatności.</p>
        </div>

        <!-- Ochrona Danych i Prywatność -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Ochrona Danych i Prywatność:</h3>
            <p class="text-gray-600">GoodPatient dba o ochronę danych i prywatność użytkowników. Informacje dotyczące zbierania, przechowywania i przetwarzania danych są szczegółowo opisane w naszej Polityce Prywatności.</p>
        </div>

        <!-- Zamknięcie Konta -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Zamknięcie Konta:</h3>
            <p class="text-gray-600">Użytkownik ma prawo zamknąć swoje konto w każdej chwili. GoodPatient zastrzega sobie prawo do zamknięcia konta w przypadku naruszenia Warunków Korzystania.</p>
        </div>

        <!-- Gwarancja Zwrotu Pieniędzy -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Gwarancja Zwrotu Pieniędzy:</h3>
            <p class="text-gray-600">Oferujemy 30-dniową gwarancję zwrotu pieniędzy dla płatnych planów. Jeśli nie jesteś zadowolony z usług, skontaktuj się z naszym zespołem wsparcia, aby skorzystać z tej gwarancji.</p>
        </div>

        <!-- Zmiany w Warunkach Korzystania -->
        <div class="mb-6">
            <h3 class="text-xl font-bold mb-2">Zmiany w Warunkach Korzystania:</h3>
            <p class="text-gray-600">GoodPatient zastrzega sobie prawo do zmiany Warunków Korzystania w dowolnym momencie. Aktualizacje będą ogłaszane, a użytkownicy będą informowani o zmianach przed ich wejściem w życie.</p>
        </div>

    </div>

    <!-- Call-to-Action -->
    <div class="container mx-auto mt-8 text-center mt-5">
        <p class="text-gray-700 text-lg">Zachęcamy do dokładnego przeczytania naszych Warunków Korzystania. Korzystając z GoodPatient, doświadczysz profesjonalizmu i bezpieczeństwa. Jeśli masz pytania, skontaktuj się z naszym zespołem obsługi klienta.</p>
    </div>
</section>
